.register_button a, .register_button h1 {
    transition: all 0.1s ease;
    cursor: pointer;
}

.register_button:hover a, .register_button:hover h1 {
    transform: scale(1.03);
}

.title_hover {
    transition: all 0.2s ease;
}

.title_hover:hover {
    transform: scale(1.05);
}

.tournament_picture {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.tournament_picture:hover {
    transform: scale(1.05);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.tournament_hover {
    transition: all 0.15s ease;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.tournament_hover:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}